<div class="container justify-content-center contactBox">
	<h1>Our Story!</h1>
	<h4>
		Our goal in building this site is to help people discover new anime that they'll love! We push ourselves to have as much information on a show as possible. We've built this site for people like us! People that love anime and love discovering new shows that they can fall in love with!
	</h4>
</div>